body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#banner-message {
  background: #63ACDC;
  border-radius: 10px;
  padding: 1px;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
}

uploadFile2 {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message.alt {
  background: #0084ff;
  color: #fff;
  margin-top: 1px;
  width: 200px;
}

#banner-message.alt uploadFile2 {
  background: #fff;
  color: #000;
}

